/**
* Estilos do Cabeçalho
**/
.cabecalho {
  width: $width-container;
  margin: 0 auto;
  a:hover {
    text-decoration: underline; /* mostrar o "underline" no link */
  }
}

/*******************************/
/* INÍCIO CABEÇALHO INFORMAÇÃO */
/*******************************/
.cabecalho-informacao {
  background-color: #f1f1f1; /* definindo cor de fundo */
  /**
   * Este recurso deverá sempre ser usado em estruturas
   * que possuam filhos que recebam propriedades float.
   */
  overflow: auto;
  a {
    color: $cabecalho; /* definindo cor do texto */
    text-decoration: none; /* removendo "underline" */
    font-size: 12px; /* definindo tamanho do texto */
    font-weight: bold; /* definindo estilo bold para o texto */
  }
  ul {
    margin: 5px 0; /* definindo margem (top/bottom) e (left/right) ao mesmo tempo */
    li {
      float: left; /* estrutura deverá flutuar à esquerda */
      list-style: none; /* removendo estilo de marcador padrão */
      padding: 5px $space-small; /* espaçamento interno sendo aplicado */
      border-left: 1px solid $gray-light; /* criando uma borda esquerda */
      &:last-child {
        border-right: 1px solid $gray-light; /* criando uma borda direita */
      }
    }
  }
  .informacao-brasil {
    float: left;
    width: 100px;
    padding: $space-small 0;
    padding-left: $space-small;

    font: bold 12px/18px tahoma;
    font-weight: bold;
    text-transform: uppercase;
    color: $cabecalho; /* definindo cor do texto */
    img {
      display: block;
      float: left;
      margin-right: $space-small;
    }
    span {
      display: block;
      float: left;
      line-height: $space-small;
    }
  }
  .informacao-servicos {
    float: left;
    width: 3$space-small;
    padding: 0;
    li {
      float: left;
    }
  }
  .informacao-links {
    float: left;
    width: 540px;
    padding: 0;
    margin: 0px;
    ul {
      float: right;
    }
  }
}

/*******************************/
/* FIM DE CABEÇALHO INFORMAÇÃO */
/*******************************/

/*********************************/
/* INÍCIO DE CABEÇALHO DESTAQUES */
/*********************************/
@font-face {
  font-family: openSansBold;
  src: url('../fonts/OpenSans-ExtraBold.ttf');
}

.cabecalho-destaque {
  background-color: $primary;
  margin: 0;
  overflow: auto;
  h1 {
    float: left;
    width: 430px;
    padding-left: $space-small;

    font-family: openSansBold, arial, sans-serif, times;
    font-size: 38px;
    color: #ffdc19;
  }
  .busca {
    width: 5$space-small;
    float: right;
    padding-top: 30px;
    form {
      background-color: white;
      width: 230px;
      padding: 5px;
      float: right;
      margin-right: $space-small;

      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      input {
        border: 0;
        font-size: 12px;
        color: #666;
        line-height: 18px;
        &[type='text'] {
          width: 200px;
          float: left;
        }
        &[type='image'] {
          width: $space-small;
          float: left;
        }
      }
    }
  }
}

.cabecalho-ouvidoria {
  background-color: $primary-dark;
  margin: 0;
  overflow: auto;
  ul {
    text-align: right;
    margin: 0;
    margin-right: $space-small;
    padding: $space-small;
    li {
      list-style: none;
      display: inline;
      border-right: 1px solid #999;
      padding: 0px $space-small;
      a {
        color: white;
        text-decoration: none;
        font-size: 13px;
      }
      &:last-child {
        border: none;
        padding-right: 0;
      }
    }
  }
}

/******************************/
/* FIM DE CABEÇALHO DESTAQUES */
/******************************/
